# PGHOST=your-host
# PGDATABASE=neondb
# PGUSER=neondb_owner
# PGPASSWORD=your-password
# PGPORT=5432

# PGHOST=
# PGDATABASE=neondb
# PGUSER=neondb_owner
# PGPASSWORD=
# PGPORT=5432


# neondb url
DATABASE_URL=

# add sslmode=require&channel_binding=require for prod

CRYPTO_PANIC_API_KEY=4cc1eaf9225b7b31cd76e2ad81ef7c438c63e723
CRYPTO_PANIC_BASE_URL=https://cryptopanic.com/api/developer/v2/posts/
