# PGHOST=your-host
# PGDATABASE=neondb
# PGUSER=neondb_owner
# PGPASSWORD=your-password
# PGPORT=5432

PGHOST=your-host
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=your-password
PGPORT=5432

DATABASE_URL='postgresql+psycopg://your-user:your-password@your-host/your-database?sslmode=require&channel_binding=require'

# add sslmode=require&channel_binding=require for prod
CRYPTO_PANIC_API_KEY=your-api-key
CRYPTO_PANIC_BASE_URL=https://cryptopanic.com/api/developer/v2/posts/


UPSTASH_REDIS_REST_URL="https://your-redis-url"
UPSTASH_REDIS_REST_TOKEN="your-token"
