# PGHOST=your-host
# PGDATABASE=neondb
# PGUSER=neondb_owner
# PGPASSWORD=your-password
# PGPORT=5432

PGHOST=your-host
PGDATABASE=neondb
PGUSER=neondb_owner
PGPASSWORD=your-password
PGPORT=5432

DATABASE_URL=neon-database-url
CRYPTO_PANIC_API_KEY=
CRYPTO_PANIC_BASE_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TRANSFORMERS_NO_TORCHVISION=1
TRANSFORMERS_NO_TF=1
API_BASE_URL=
